<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间-->
<mapper namespace="Command">
  <!--sql片段-->
  <sql id="SelectSql">c.id,c.name,c.description,cc.command_id,cc.content,cc.id c_id</sql>

  <!--resultmap-->
  <resultMap type="com.ts.mybatis01.bean.Command" id="CommandResult">
    <!--column 数据库中的字段名，property java对应得属性名，id为主键-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="description" jdbcType="VARCHAR" property="description"/>
    <!--一对多的第一种配置方式-->
    <!--<collection property="contents" resultMap="CommandContent.contentResult"/>-->
    <!--一对多的第二种配置方式-->
    <collection property="contents" ofType="com.ts.mybatis01.bean.CommandContent" column="c_id">
      <!--C-id一定要加不然只会显示一条数据-->
      <id column="c_id" jdbcType="INTEGER" property="id"/>
      <result column="command_id" jdbcType="INTEGER" property="command_id"/>
      <result column="content" jdbcType="VARCHAR" property="content"/>
    </collection>
  </resultMap>

  <!--查询 resultMap的值对应id唯一-->
  <select id="queryCommandList"  resultMap="CommandResult">
    /*注意查询的时候一定要查询 cc.id  c_id 不然对象集合里面只有一条数据*/
    select <include refid="SelectSql"></include>  from command c LEFT JOIN command_content cc on c.id = cc.command_id
  </select>

  <!--单项删除-->
  <!--这两个都可以 delete from message where id = ${_prarmeter}-->
  <delete id="delete" parameterType="String">
    delete from message where id = #{id}
  </delete>

  <!--批量删除-->
  <delete id="deleteBatch" parameterType="java.util.List">
    delete from message where id in (
     <foreach collection="list" item="item" separator=",">
       #{item}
     </foreach>
    )
  </delete>
</mapper>
