<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间-->
<mapper namespace="Message">
  <!--type的值对应的javabean，必需填写全路径或者定义的别名-->
  <resultMap type="com.ts.mybatis01.bean.Message" id="MessageResult">
    <!--column 数据库中的字段名，property java对应得属性名，id为主键-->
    <id column="ID" jdbcType="INTEGER" property="id"/>
    <result column="COMMAND" jdbcType="VARCHAR" property="command"/>
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
    <result column="CONTENT" jdbcType="VARCHAR" property="content"/>
  </resultMap>

  <!--resultMap的值对应id唯一   WHERE 1=1-->
  <select id="queryMessageList" parameterType="com.ts.mybatis01.bean.Message" resultMap="MessageResult">
    SELECT ID,COMMAND,DESCRIPTION,CONTENT FROM Message
    <where>
      <if test="command!=null and !''.equals(command.trim()) ">
        and  command = '${command}'
      </if>
      <if test="content!=null and !''.equals(content.trim()) ">
        and  content like  '%${content}%'
      </if>
    </where>
  </select>

  <!--根据ID删除 这两个都可以 delete from message where id = ${_prarmeter}-->
  <delete id="delete" parameterType="String">
    delete from message
    <where>
       and  id = #{id,jdbcType=INTEGER}
    </where>
  </delete>

  <!--根据ID批量删除  where-->
  <delete id="deleteBatch" parameterType="java.util.List">
    delete from message
    <where>
      <if test="list!=null and list.size()>0">
        id in (
        <foreach collection="list" item="item" separator=",">
          #{item}
        </foreach>
        )
      </if>
    </where>
  </delete>

  <!-- #{command}注意#避免出错-->
  <!--useGeneratedKeys="true" keyProperty="id"获取自增主键-->
  <!--useGeneratedKeys:设置是否使用JDBC的getGeneratedKeys方法获取主键并赋值到keyProperty设置的领域的模型属性中-->
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.ts.mybatis01.bean.Message" >
          INSERT INTO message(COMMAND,DESCRIPTION,CONTENT) VALUES ( #{command} , #{description} , #{content})
  </insert>
</mapper>
